body{
  background:linear-gradient(99deg,#00a8ab,#84fdff);
  font-family: 'Lobster',sans-serif;
  display:flex;
  margin:0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 2%;
}

.color-button {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background: #FFE600 ;
  color: rgb(36, 36, 36);
  font-family: "Lobster" , sans-serif;
  font-size: large;
}

input {
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: large;
}

.reset-button{
  background:linear-gradient(180deg, #FFE600, #fff9bf );
  font-family: 'lobster' , sans-serif;
  font-size: x-large;
  border-radius: 5px;
  width: 100px;
}


.cell{
  border: #acacac solid thin;
}

.button {
  display:flex;
  flex-direction: row;
   align-items: center;
  justify-content: space-evenly;
}
.button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.button:active{
  box-shadow: inset 1px 1px 1px 3px #534b00;
}
.color-button:focus {
  background-color: #fff9cd;
}

.container {
  display: grid;
  height: 500px;
  width:500px;
  background-color: #e0e0e0;
  border:#acacac solid;
  margin-top: 15px;
  margin-bottom: 30px;
  grid-gap: 1px;
}

.container:hover {
cursor:pointer;
}



@media only screen and (max-width: 1080px) {
  .header {
    width: 800;
  }
}